/* ABOUT */
.section-title {
    margin-bottom: 50px;
}

.section-title p {
    max-width: 1000px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    color: var(--c-dark);
}

.iconbox {
    font-size: 24px;
    color: var(--c-brand);
}

.work-text {
    color: var(--c-body);
}
