/* GLOBAL STYLES */
body {
  font-family: Arial, sans-serif;
  line-height: 1.7;
  color: var(--c-body);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: var(--c-dark);
}

a {
  text-decoration: none;
  color: var(--c-brand);
  transition: var(--transition);
}

a:hover {
  color: var(--c-brand-light);
}

img {
  max-width: 100%;
  height: auto;
}


/* Responsive Adjustments */
@media (max-width: 768px) {
  .navbar-nav .nav-link {
      font-size: 16px;
  }

  .section-title p {
      font-size: 18px;
  }

  .gallery {
      padding: 20px;
  }
}

@media (max-width: 576px) {
  .navbar-nav .nav-link {
      font-size: 14px;
  }

  .section-title h1 {
      font-size: 2.5rem;
  }
}
