/* GALLERY */
.gallery {
    background-color: #ECECEC;
    position: relative;
    overflow: hidden;
    z-index: 2;
    border-radius: 8px;
}

.gallery::after {
    content: "";
    width: 30px;
    height: 30px;
    background: #DEDEDE;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.gallery:hover::after {
    width: 100%;
    height: 100%;
    background: rgb(240, 193, 235);
    z-index: -1;
}

.gallery:hover h5,
.gallery:hover p {
    color: white;
}

.gallery img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}
